-vw
-Fl/usr/lib64/gcc/x86_64-suse-linux/4.1.2/
-Fu~/fpc/$MYFPC$packages/rtl-extra/units/$FPCTARGET
-Fu~/fpc/$MYFPC$packages/libcurl/units/$FPCTARGET
-Fu~/fpc/$MYFPC$packages/fcl-base/units/$FPCTARGET
-Fu~/fpc/$MYFPC$packages/fv/units/$FPCTARGET
-Fu~/fpc/$MYFPC$packages/paszlib/units/$FPCTARGET
-Fu~/fpc/$MYFPC$packages/hash/units/$FPCTARGET
-Fu~/fpc/$MYFPC$packages/winunits-base/units/$FPCTARGET
-Fu~/fpc/$MYFPC$packages/zlib/units/$FPCTARGET
-Fu~/fpc/$MYFPC$packages/libpng/units/$FPCTARGET
-Fu~/fpc/$MYFPC$packages/gbaunits/units/$FPCTARGET
-Fu~/fpc/$MYFPC$packages/netdb/units/$FPCTARGET
-Fu~/fpc/$MYFPC$packages/pthreads/units/$FPCTARGET
-Fu~/fpc/$MYFPC$packages/fcl-extra/units/$FPCTARGET
-Fu~/fpc/$MYFPC$packages/fcl-fpcunit/units/$FPCTARGET
-Fu~/fpc/$MYFPC$packages/fcl-registry/units/$FPCTARGET
-Fu~/fpc/$MYFPC$packages/fcl-db/units/$FPCTARGET
-Fu~/fpc/$MYFPC$packages/fcl-image/units/$FPCTARGET
-Fu~/fpc/$MYFPC$packages/fcl-net/units/$FPCTARGET
-Fu~/fpc/$MYFPC$packages/fcl-xml/units/$FPCTARGET
-Fu~/fpc/$MYFPC$packages/fcl-process/units/$FPCTARGET
-Fu~/fpc/$MYFPC$packages/fcl-web/units/$FPCTARGET
-Fu~/fpc/$MYFPC$packages/fcl-stl/units/$FPCTARGET
-Fu~/fpc/$MYFPC$packages/fcl-res/units/$FPCTARGET
-Fu~/fpc/$MYFPC$packages/fcl-json/units/$FPCTARGET
-Fu~/fpc/$MYFPC$packages/chm/units/$FPCTARGET
-Fu~/fpc/$MYFPC$packages/libtar/units/$FPCTARGET
-Fu~/fpc/$MYFPC$packages/fppkg/units/$FPCTARGET
-Fu~/fpc/$MYFPC$packages/winunits-base/units/$FPCTARGET
-Fu~/fpc/$MYFPC$packages/winunits-jedi/units/$FPCTARGET
-Fu~/fpc/$MYFPC$packages/regexpr/units/$FPCTARGET
-Fu~/fpc/$MYFPC$packages/mysql/units/$FPCTARGET
-Fu~/fpc/$MYFPC$packages/pasjpeg/units/$FPCTARGET
-Fu~/fpc/$MYFPC$packages/winceunits/units/$FPCTARGET
-Fu~/fpc/$MYFPC$packages/libc/units/$FPCTARGET
-Fu~/fpc/$MYFPC$packages/x11/units/$FPCTARGET
-Fu~/fpc/$MYFPC$packages/sdl/units/$FPCTARGET
-Fu~/fpc/$MYFPC$packages/fpmkunit/units/$FPCTARGET
-Fu~/fpc/$MYFPC$packages/graph/units/$FPCTARGET
-Fu~/fpc/$MYFPC$packages/libxml/units/$FPCTARGET
-Fu~/fpc/$MYFPC$packages/libgd/units/$FPCTARGET
-Fu~/fpc/$MYFPC$packages/cairo/units/$FPCTARGET
-Fu~/fpc/$MYFPC$packages/opencl/units/$FPCTARGET
-Fu~/fpc/$MYFPC$packages/opengl/units/$FPCTARGET
-Fu~/fpc/$MYFPC$packages/nvapi/units/$FPCTARGET
-Fu~/fpc/$MYFPC$packages/odbc/units/$FPCTARGET
-Fu~/fpc/$MYFPC$packages/gtk2/units/$FPCTARGET
-Fu~/fpc/$MYFPC$packages/ncurses/units/$FPCTARGET
-Fu~/fpc/$MYFPC$packages/rtl-objpas/units/$FPCTARGET
-Fu~/fpc/$MYFPC$packages/ibase/units/$FPCTARGET
-Fu~/fpc/$MYFPC$rtl/units/$FPCTARGET

#IFDEF FPC_CROSSCOMPILING
  -XP$FPCTARGET-
#ENDIF
